@import url("/../site-adm-grid/view/assets/css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("/../site-adm-grid/view/assets/css/components/content.css");
@import url("/../site-adm-grid/view/assets/css/components/footer.css");
@import url("/../site-adm-grid/view/assets/css/components/navbar.css");
@import url("/../site-adm-grid/view/assets/css/components/sidebar.css");
@import url("/../site-adm-grid/view/assets/css/components/categoria.css");

* {
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 68px 1fr 22px;
}

p {
  margin: 20px 0;
}
