footer {
  /* width: calc(100vw - 200px); */
  /* width: 100vw;
  height: 150px;
  background-color: black; */
  /* position: fixed;
    right: 0;
    bottom: 0; */
  /* grid-column: 1;
  grid-row: 3;
  color: #ffff; */
}

@media screen and (max-width: 490px) {
  footer {
    width: 100vw;
  }
}
